.dragmap h2 {
    color: #bf1650;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }


  .dragmap button {
    display: block;
    appearance: none;
    margin-top: 40px;
    border: 1px solid #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
    background: #333;
    color: white;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin:auto;

  }

 

  .dragmap button:active
  {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }

  .dragmap button{
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

.dragmap button:hover{
  background: #bf1650;
}


  
  